tr {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-style: none none solid none;
  border-width: 0.125em;
  border-color: rgba(60, 153, 220, 0.5);
}

tr:hover {
  border-color: rgba(60, 153, 220, 1);
}

th, td {
  width: 100%;
  text-align: left;
  padding: 0.75em;
}

table {
  width: 100%;
}

a {
  padding-right: 0.2em;
}

.tableHeading {
  font-style: italic;
}

@media screen and (max-width: 800px) {
  tr {
    flex-wrap: wrap;
  }

  th, td {
    padding: 0.5em;
  }
}
