tr {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-style: none none solid none;
  border-width: 2px;
  border-color: rgba(60, 153, 220, 0.5);
}

tr:hover {
  border-color: rgba(60, 153, 220, 1);
}

th {
  width: 100%;
  text-align: left;
  padding: 10px;
}

table {
  width: 100%;
}

a {
  padding-left: 0.2em;
  padding-right: 0.2em;
}
